/* Start Global */
 *
 {
 	padding: 0;
 	margin: 0;	
 	box-sizing: border-box ;		
}
.clear { clear: both; }
/* End Global */ 
 
/* //////////////////////////////////////////////// */

/* Start Header */
.super_container
{
	width: 100%;	
	font-family: 'Roboto', sans-serif;
	display: block;
	position: absolute;
}
.header
{
	
	top: 2%;
	left: 0;
	width: 100%;
	
}
.top_bar
{
	width: 100%;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	background-color:  #262e45;
	color: #FFFFFF;
	position: relative;
}
.question
{
	
	margin-left: 120px;
	margin-right: 20px;
	float: left;
}
.top_bar .message 
{ 
	height: 20px; 
	margin-top: 10px; 
	margin-right: 5px;
	float: left;
}
.phone
{
	float: left;
	margin-right: 20px;
}

.top_bar_login
{
	height: 100%;
	position: absolute;
	top: 0%;
	left: 80%
}
.login_button
{
	width: 160px;
	height: 100%;
	background: #878e98;
	text-align: center;
	color: #020031;
	font-size: 18px;
	text-decoration-line: underline;
}

/* End Header */ 

/* //////////////////////////////////////////////// */

/* Start Navigation */
.logo_container
{
	width: 100%;
	height: 70px;
	background-color: #ffffff;
}
.logo_text
{
	width: 200px;
	padding-left: 100px;
}
.logo
{
	height: 60px;
	width: 200px;
	float: left;
}
.navi {  margin-left: 100px;}
.main_nav li
{
	display: inline-block;
	line-height: 70px;
	margin-right: 55px;
	margin-top: 2px;	
	font-size: 22px;
	color: #216778;
}
.active
{
	margin-left: 300px;
}
/* End Navigation */

/* //////////////////////////////////////////////// */

/* Start Welcome Section */

.welcome_img
{	
	width: 100%;
	height: 500px;
}
.courses
{
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: #ffffff;
	position: relative;
}
.title
{
	position: absolute;
	text-align: center;
	font-size: 35px;
	color: #262e45;
	width: 100%;
}
.container
{
	background-color: #ffffff;
	width: 370px;
	height: 400px;
	display: flex;
	display: inline-block;
	position: relative;

}
.course_photo
{
	width: 370px;
	height: 200px;
}
.left { margin:  100px 0px 30px 60px; }

.course_title 
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #000000;
	margin-left: 20px;
	margin-top: 20px;
}
.course_info
{
	margin-top: 5px;
	margin-left: 30px;
	
}
.course_info h4 
{ 
	display: inline-block; 
	color: #262e45;
	font-size: 13px;
	margin-right: 4px;
}
.course_info p
{
	margin-top: 20px;
	color: #262e45;
}

.course_footer
{
	width: 100%;
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 40px 0 20px 0;
	border-top: solid 1px #ebebeb;
	background: #FFFFFF;
}
.course_students
{
	margin-top: 10px;
	float: left;
	margin-right: 30px;
	color: #262e45;
}

.star_rating 
{
	color: #717171;
  	margin: 10px 10px 20px 30px;
  	font-family: Arial ;
}
.checked { color: #262e45; }
.course_mark
{
	position: absolute;
	top: 97%;
	left: 70%;
	width: 61px;
	height: 25px;
	background: #262e45;
	color: #b8b8b8;
	border-radius: 3px;
	text-align: center;
	line-height: 25px;
}

/*.word .message { margin-top: 11px; height: 18px;}
.star_rating 
{
	color: #717171;
  	margin: 0px 10px 20px 20px;
  	font-family: Arial ;
}

.checked { color: yellow; }
.comment { float: right; margin: 5px 5px 5px 18px; }*/
