/* Start Global */
 *
 {
 	padding: 0;
 	margin: 0;	
 	box-sizing: border-box ;		
}
.clear { clear: both; }
/* End Global */ 
 
/* //////////////////////////////////////////////// */

/* Start Header */
.super_container
{
	width: 100%;	
	font-family: 'Roboto', sans-serif;
	display: block;
	position: absolute;
}
.header
{
	top: 2%;
	left: 0;
	width: 100%;	
}
.top_bar
{
	width: 100%;
	height: 50px;
	font-size: 15px;
	line-height: 50px;
	background-color:  #262e45;
	color: #FFFFFF;
	position: relative;
}
.question
{
	margin-left: 120px;
	margin-right: 20px;
	float: left;
}
.top_bar .message 
{ 
	height: 20px; 
	margin-top: 15px; 
	margin-right: 5px;
	float: left;
}
.phone
{
	float: left;
	margin-right: 20px;
}

.top_bar_login
{
	height: 100%;
	position: absolute;
	top: 0%;
	left: 80%
}
.login_button
{
	width: 160px;
	height: 100%;
	background: white;
	text-align: center;
	color: #020031;
	font-size: 18px;
	text-decoration-line: underline;
	border-radius: 10px;
}

/* End Header */ 

/* //////////////////////////////////////////////// */

/* Start Navigation */
.logo_container
{
	width: 100%;
	height: 70px;
	background-color: #ffffff;
}
.logo_text
{
	width: 200px;
	padding-left: 100px;
}
.logo
{
	height: 60px;
	width: 200px;
	float: left;
}
.navi {  margin-left: 100px;}
.main_nav li
{
	display: inline-block;
	line-height: 70px;
	margin-right: 55px;
	margin-top: 2px;	
	font-size: 25px;
	color: #216778;
}
.active
{
	margin-left: 300px;
}

.welcome_img
{	
	width: 100%;
	height: 500px;
}
/* End Navigation */

/* //////////////////////////////////////////////// */

/* Start Courses Section */

.courses
{
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: #f8f8f8;
	position: relative;
}
.title
{
	position: absolute;
	text-align: center;
	font-size: 35px;
	color: #262e45;
	width: 100%;
}
.container
{
	background-color: #ffffff;
	width: 370px;
	height: 400px;
	display: flex;
	display: inline-block;
	position: relative;
	margin-left: 70px;
	margin-top: 60px;
}
.course_photo
{
	width: 370px;
	height: 200px;
}
.left { margin:  100px 0px 30px 60px; }

.course_title 
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #262e45;
	margin-left: 20px;
	margin-top: 20px;
}
.course_info
{
	margin-top: 5px;
	margin-left: 30px;	
}
.course_info h4 
{ 
	display: inline-block; 
	color: #262e45;
	font-size: 13px;
	margin-right: 4px;
}
.course_info p
{
	margin-top: 20px;
	color: #262e45;
}

.course_footer
{
	width: 100%;
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 40px 0 20px 0;
	border-top: solid 1px #ebebeb;
	background: #FFFFFF;
}
.course_students
{
	margin-top: 10px;
	float: left;
	margin-right: 30px;
	color: #262e45;
}

.star_rating 
{
	color: #717171;
  	margin: 10px 10px 20px 30px;
  	font-family: Arial ;
}
.checked { color: #262e45; }
.course_mark
{
	position: absolute;
	top: 102%; left: 70%;
	width: 61px;
	height: 25px;
	background: #262e45;
	color: #b8b8b8;
	border-radius: 3px;
	text-align: center;
	line-height: 25px;
}
/* End Courses Section */

/* ////////////////////////////////////////////////////////////////////////// */

/* Start Instructor Section */

.container2
{
	background-color: #ffffff;
	width: 300px;
	height: 400px;
	display: flex;
	display: inline-block;
	position: relative;
	margin-left: 110px;
	margin-top: 60px;
}
.instructors
{
	width: 100%;
	padding-top: 88px;
	padding-bottom: 30px;
	background: #f8f8f8;
}
.instructors_background
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 567px;
}

.instructor
{
	padding-top: 50px;
	padding-bottom: 34px;
	padding-left: 30px;
	padding-right: 30px;
}
.instructor_image_container
{
	width: 175px;
	height: 175px;
	border: solid 20px #FFFFFF;
	border-radius: 50%;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	
}
.instructor_image_container img 
{ 
	border-radius: 100px;
	margin-left: -15px;
	margin-top: -15px;
}
.instructor_name
{
	margin-top: 18px;
	margin-left: 35px;
	font-size: 25px;
	font-weight: 500px;
	color: #262e45;
}
.instructor_title
{
	font-size: 17px;
	margin-left: 50px;
	color: #7c8276;
	margin-top: 5px;
}
.instructor_text
{
	margin-top: 16px;
	text-align: justify;
	color: #262e45;
}
/* End Instructor Section */

/* /////////////////////////////////////////////////////////////// */

/* Start NewsLetter Section */

.container3
{
	background-color: #f7f7f7;
	width: 100%;
	height: 200px;
	display: flex;
	display: inline-block;
	position: relative;
}
.container3 h3 
{
	color: black;
	margin-top: 90px;
	margin-left: 100px;
}
.container3 p
{
	color: #262e45;
	margin-top: 20px;
	margin-left: 100px;
}
.newsletter input
{
	float: right;
	margin-right: 190px;
	width: 400px;
	height: 50px;
	margin-top: -50px;
	background-color: white;
	border-radius: 30px;
	line-height: 40px;
	padding-left: 15px;
	border: none;
	font-size: 15px;
}
.newsletter button
{
	float: right;
	margin-right: 190px;
	margin-top: -50px;
	width: 130px;
	height: 50px;
	background-color: #232b3e;
	border: none;
	border-radius: 10px 40px 40px 10px;
	color: white;
}

/* End NewsLetter Section */

/* //////////////////////////////////////////////// */

/* Start Footer */ 
footer 
{
	background-color: #232b3e;
	color: white;
	padding: 20px;
	height: 60px;
	font-family: Arial;
	position: relative;
}
.foot_left { float: left; margin: 0px 250px 20px ;}

/* End Footer */ 

/* //////////////////////////////////////////////// */

/* Start Hover */

.top_bar h5:hover { font-size: 15px; }
.login_button:hover { background-color: #848b95; }
.main_nav li:hover { text-decoration: underline; font-size: 26px; }
.courses .title:hover , .instructors .title:hover{ font-size: 38px; }
.course_mark:hover { width: 63px; height: 27px;}
.instructor_image_container:hover { box-shadow: 0px 0px 17px rgba(0,0,0,0.5); }
.newsletter button:hover { width: 135px; height: 55px;}
